.leftsidebar {
float: left;
width: 160px;
padding-bottom: 100%;
background-color: #eff5f7;
padding-left: 5px;
padding-right: 5px;
}

.leftsidebar ul {
  font-size: 12px;
}

.leftsidebar img {
  /*display: block;*/
  /*margin: auto;*/
  width: 110px;
  padding-bottom: 10px;

}

.mainlists {
  list-style-type:none;
}

.topnav ul {
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav li {
  float: right;
  padding: 10px;
}

/*.input-group {
  margin-right: 0;
  padding-right: 0;
}*/
